img.helpicon { cursor: pointer }
.messagebox { background: url(arrow.png) no-repeat 25px bottom; padding-bottom: 12px; font-size: 90%; }

.messagebox p {
	margin: 0;
	padding: 10px;
	max-width: 20em;
  
	/* Font styles */
	color: #fff;
	font-size: 10px;
	font-family: tahoma, verdana, "sans-serif";
 
	/* CSS for older browsers */
	background-color: rgb(0,0,0);

	/* CSS for modern browsers */
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000,endColorstr=#BB000000);
}
